<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="kidnumber" value="555196414504"/>
    <add key="kidIMEI" value="353940040316085"/>
    <add key="number" value="555185374230"/>
    <add key="IMEI" value="175422846762538"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
